<table class="table table-striped">
    <tr>
        <th>
            ID
        </th>
        <th>
            Nombre
        </th>
        <th>
            Descripcion
        </th>
        <th>
            Unidades
        </th>
        <th>
            Precio
        </th>
    </tr>
    <tr *ngFor="let item of productos; let i = index">
        <td>
            {{i}} - {{item.id}}
        </td>
        <td>
            {{item.nombre}}
        </td>
        <td>
            {{item.descripcion}}
        </td>
        <td>
            {{item.unidades}}
        </td>
        <td>
            {{item.precio}} €
        </td>
    </tr>
</table>